body {
  font: 14px "Audiowide", sans-serif;
  margin: 0%;
  display: grid;
  grid-template-areas: "h h" "m m" "f f";
}
body > header {
  grid-area: h;
  height: 7.957559681697613vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
body > header > #sh1 {
  margin: 21.5%;
  display: flex;
  align-items: center;
}
body > header > #sh2 {
  margin: 15%;
  display: flex;
  align-items: center;
}
body > header > #sh1 > .headerTe {
  color: #9ca2af;
  margin: 0 0 0 10%;
  display: flex;
  font-size: 12px;
  align-items: center;
  height: 7.957559681697613vh;
  text-decoration: none;
  transition-duration: 0.1s;
}
body > header > #sh1 > .headerTe2 {
  margin: 0 0 0 10%;
  display: flex;
  font-size: 12px;
  align-items: center;
  height: 7.957559681697613vh;
  text-decoration: none;
  transition-duration: 0.1s;
  width: 3vw;
}
body > header > #sh1 > a > img {
  display: flex;
  align-items: center;
  height: 3vh;
}
body > header > #sh1 > .headerTe:hover {
  color: #212527;
  border-bottom: 2.5px solid #555555;
  height: calc(7.957559681697613vh - 2px);
}
body > header > #sh1 > .headerTe2:hover {
  border-bottom: 2.5px solid #555555;
  height: calc(7.957559681697613vh - 2px);
}
body > header > #sh2 > button {
  height: 7.957559681697613vh;
  font-size: 10px;
  border: none;
  background-color: white;
  color: #212527;
}
body > main {
  grid-area: m;
  min-height: 100vh;
  background-color: #f9f9f9;
}
body > main > #mapid {
  height: 800px;
}
.logo {
  display: block;
  margin: 0% 0% 0% 7%;
  display: block;
  width: 6.5vw;
  height: auto;
}
#campo {
  margin-bottom: 1%;
  width: 100%;
  height: 30vh;
}
footer {
  grid-area: f;
  background-color: #212527;
  width: 100%;
  height: 27vh;
  display: flex;
  flex-direction: column;
}
.logofoot {
  display: block;
  margin: 0% 0% 0% 9%;
  width: 5vw;
  height: auto;
}
footer > #first {
  display: flex;
  align-items: center;
  padding: 0.5% 0 0.5% 0;
  background-color: #f0f2f4;
}
footer > #second {
  padding: 0 6%;
  margin-top: 1%;
  display: flex;
  align-items: top;
}
footer > #second > section {
  padding: 0 4%;
}
footer > #second > section > a {
  text-decoration: none;
}
footer > #second > section > a > h5:hover {
  color: white;
}
footer > #second > section > h1 {
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5% 0 0.5% 0;
}
footer > #second > section > a > h5 {
  color: #9ca2af;
  margin: 0.3em 0;
}
#borderinfo {
  width: 0.075rem;
  height: 32px;
  margin: 0 5%;
  background-color: #e0e0e0;
}
.button {
  font: 14px "Audiowide", sans-serif;
  border: none;
  background-color: #f9f9f9;
  margin-right: 1%;
  color: #9ca2af;
}
#conteiner {
  margin: auto;
  width: 70vw;
}
.field {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  margin: 2% 0;
  padding: 2%;
  height: 10vh;
  border: 1px solid #c3c3c3;
}
.field:hover {
  cursor: pointer;
  box-shadow: 0px 7px 13px 0px rgba(136, 136, 136, 0.52);
}
.hour {
  background-color: #00afd2;
  color: white;
  height: 5vh;
  margin-right: 1%;
  padding: 2%;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.hour:hover {
  background-color: #32cae9;
}
.hourr {
  margin: 0% 0;
  background-color: #e0e0e0;
  color: white;
  height: 5vh;
  margin-right: 1%;
  padding: 2%;
  text-decoration: none;
  outline: none;
  border: none;
}
.hour > p {
  margin: 0% 0;
  font-size: 0.9em;
}
.hourr > p {
  margin: 0% 0;
  font-size: 0.9em;
}
.hours {
  height: 10vh;
  display: flex;
  width: 70%;
  align-items: center;
  overflow: auto;
  margin: auto;
  margin-right: 5%;
}
.date {
  margin: auto;
  width: 70vw;
  margin-top: 1%;
}
#date {
  width: 7vw;
  height: 3vh;
  font-size: 15px;
  text-align: center;
}
select {
  border: 1px solid #e0e0e0;
}
#reFielB {
  text-align: center;
  height: 4vh;
  background-color: rgba(250, 194, 83, 19);
  color: white;
  outline: none;
  border: none;
  font: 14px "Audiowide", sans-serif;
}
#reFielB:hover {
  background-color: rgba(243, 182, 60, 0.678);
}

#arts {
  display: flex;
  flex-wrap: wrap;
}
.art {
  background-color: whitesmoke;
  border: 1px solid #c3c3c3;
  margin: 1.5%;
  padding: 1%;
  width: 25vw;
}
